@import '../../styles/index.scss';

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 32px;
    border: none;
    outline: none;
    background-color: $white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.80;
    letter-spacing: 0.15px;
    color: $black;
    &::placeholder {
        opacity: 0.5;
    }
}