@import '../../styles/index.scss';

.mainSection {
    position: relative;
    background-color: $white;
    overflow-x: hidden;
}

.header {
    margin-top: 48px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer {
    max-width: 563px;
    &Title {
        margin: 0;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 53px;
        line-height: 1.12;
        letter-spacing: -2px;
        color: $black;
    }
    &Text {
        margin: 0;
        margin-bottom: 38px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.64;
        letter-spacing: 0.15px;
        color: $grey;
    }
}

@media screen and (max-width: 760px) {
    .header {
        margin-bottom: 56px;
    }
    .offer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &Title {
            font-size: 42px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: -1.05px;
        }
        &Text {
            font-size: 18px;
            line-height: 1.67;
            text-align: center;
            letter-spacing: 0.122727px;
        }
    }
}

@media screen and (max-width: 515px) {
    
}