// colors
$white: #ffffff;
$red: #F46363;
$black: #34313D;
$dark-viola: #3A3054;
$viola: #4B3F6B;
$grey: #9E9AA8;
$light-grey: #EFF1F7;
$green: #2BD0D0;
$light-green: #9AE3E3;

// sizes
$laptop: 1110px;
$tablet: 760px;
$mobile: 327px;