@import '../../styles/index.scss';

.url {
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  background: $white;
  border-radius: 5px;
  &Text {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.15px;
    color: $black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &Color {
      margin-left: auto;
      color: $green;
    }
  }
}

.button {
  border-radius: 5px;
  &Copied {
    background: $dark-viola;
    &:hover {
      background: $dark-viola;
    }
  }
}

@media screen and (max-width: 760px) {
  .url {
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    &Text {
      width: 90%;
      font-size: 16px;
      line-height: 2.25;
      letter-spacing: 0.12px;
      &Color {
        margin: 0;
      }
    }
  }
  .button {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}